{% extends 'base.html' %}
{% block smoothing_slider %}{% endblock %}
{% block agg_button %}
<form action=/map/{{ dataset }} style=display:inline>
  <label>
    <span></span>
    <input type=submit value=Grid style=border:none;padding:.2em>
  </label>
</form>
{% endblock %}
{% block jsoptions %}
{{ super() }}
Options.lat = {{ lat }};
Options.lon = {{ lon }};
Options.var = '{{ var }}';
Options.crop = '{{ crop }}';
Options.gridded = {{ gridded }};
Options.dataset = '{{ dataset }}';
Options.regions = '{{ regions }}';
{% endblock %}
{% block bodyjs %}
<script src="{{ url_for('static', filename='js/agg.js') }}?3" charset=utf-8 ></script>
<script src="{{ url_for('static', filename='js/vendor/ace-builds/src-min-noconflict/ace.js') }}" charset=utf-8></script>
<script>
  var editor = ace.edit('editor');
  editor.setTheme('ace/theme/chrome');
  editor.getSession().setMode('ace/mode/javascript');
</script>
{% endblock %}