<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div id="wrapper">
  <header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="/">ATLAS</a></li>
      </ul>
    </nav>
    <div id="title_legend_wrap">
    </div>
  </header>
  <div id="map"></div>
  <div id="hover_legend"></div>
</div>
<script>
{% block jsoptions %}
  Options = window.Options || {};
{% endblock %}
</script>
<script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/d3.geo.projection.v0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/topojson.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/queue.v1.min.js') }}"></script>
{% block bodyjs %}
{#<script src="{{ url_for('static', filename='js/atlas_000.js') }}?3" charset="utf-8" ></script>#}
{% endblock %}
</body>
</html>