{% extends 'base.html' %}

{% block metadata_list %}
{% if metadata %}
<div id=metadata_list>
  <h3>Available datasets</h3>
  <ul>
{% for m in metadata %}
  <li><h4><a href=/map/{{ m.dataset }}>{{ m.dataset }}</a></h4>
  <dl>{% for k, v in m.items() %}{% if k != 'dataset' %}
    <dt>{{ k }}</dt><dd>{{ v }}</dd>
  {% endif %}{% endfor %}</dl></li>
{% endfor %}
</ul></div>
{% endif %}
{% endblock %}

{% block smoothing_slider %}
{% if datatype=='raster' %}
<label>
  <span>Smoothing</span>
  <input id=smooth_select type=range min=0 max=10 step=1 value=0>
</label>
{% endif %}
{% endblock %}

{% block agg_button %}
{% if datatype == 'raster' %}
  <ul id=aggregation_regions>
    <li><a href=/agg/{{ dataset }}/ne_110m_admin_0_countries>NE110</a></li>
    <li><a href=/agg/{{ dataset }}/ne_50m_admin_0_countries>NE50</a></li>
  </ul>
<form action=/agg/{{ dataset }}/ne_110m_admin_0_countries style=display:inline>
  <label>
    <span>Aggregate</span>
    <input type=submit value=GADM0 style=border:none;padding:.2em>
  </label>
</form>
{% endif %}
{% endblock %}

{% block jsoptions %}
{{ super() }}
Options.lat = {{ lat }};
Options.lon = {{ lon }};
Options.scale = 1.5;
Options.var = '{{ var }}';
Options.crop = '{{ crop }}';
Options.datatype = '{{ datatype }}';
Options.dataset = '{{ dataset }}';
Options.regions = '{{ regions }}';
Options.datatype = Options.datatype == 'null' ? null : Options.datatype;
{% endblock %}
{% block bodyjs %}
  {% assets 'js_app' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{#<script src="{{ url_for('static', filename='js/app/atlas.globals.v0.js') }}?3" charset=utf-8 ></script>#}
{#<script src="{{ url_for('static', filename='js/app/atlas.map.v0.js') }}?3" charset=utf-8 ></script>#}
{#<script src="{{ url_for('static', filename='js/app/atlas.ui.v0.js') }}?3" charset=utf-8 ></script>#}
{#<script src="{{ url_for('static', filename='js/app/atlas.panzoom.v0.js') }}?3" charset=utf-8 ></script>#}
{#<script src="{{ url_for('static', filename='js/app/atlas.data.v0.js') }}?3" charset=utf-8 ></script>#}
{#<script src="{{ url_for('static', filename='js/main.js') }}?3" charset=utf-8 ></script>#}
{#<script src="{{ url_for('static', filename='js/vendor/ace-builds/src-min-noconflict/ace.js') }}" charset=utf-8></script>#}
{% endblock %}