.world-path
  fill: white
  stroke: #666
#map
  height: 100%
  width: 100%
  background-color: #eeeeee
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
.svg-wrap
  display: inline-block
  position: relative
  width: 100%
  padding-bottom: 100%
  vertical-align: top
  overflow: hidden
.svg-content-responsive
  display: inline-block
  position: absolute
  left: 0
#sphere
  fill: #C6EAFB

.geo
  &.graticule
    stroke: #ffffff
    stroke-width: 1px
    fill: transparent
  &.world
    stroke: #eeeeee
    stroke-width: .5
    fill: #cccccc
    &.active
      stroke: red
      stroke-width: 3px
  &.region
    &.fill
      fill: #dddddd
      stroke: transparent
    &.boundary
      fill: transparent
      stroke-linejoin: round
      stroke-width: 2
      stroke: white
  &.grid
    fill: transparent
    stroke: transparent
    stroke-width: 0
    cursor: crosshair
    &.selected
      stroke: white
      stroke-width: 3
