#metadata_list_bkgd
  opacity: .85
  background-color: white
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
#metadata_list
  z-index: 999
  width: 750px
  //padding: 0
  top: 1em
  left: 15px
  right: 15px
  bottom: 30px
  position: absolute
  margin: 5.5em auto 6.5em
  padding: 2.5rem 3rem
  //margin: 6em auto 7.75em
  overflow: auto
  h3
    margin-bottom: 0.25em
    //margin-bottom: .5em
  p
    width: 700px
    font-size: .8em
  li
    margin-bottom: 0.5em
    list-style-type: none
  dt, dd
    display: inline-block
    font-size: 0.8em
  dd
    margin-right: 1em
  dt
    //font-weight: bold
    margin-right: .2em
    background-color: #eeeeee
    color: #666666
    padding: .1em .2em .1em .2em
    border-radius: 2px

#metadata
  width: 100%
  overflow: auto
  clear: both
  margin: 25px
  position: relative
  z-index: 800
